<form action="/articles" method="post">
<input type="text" id="title" name="title">
<input type="textarea" id="content" name="content">
<button type="submit" name="submit" id="submit">Submit</button>
</form>
